workflow.upstage-hf-paper-summarizer.json
{
  "name": "Upstage x HuggingFace Paper Summarizer",
  "nodes": [
    {
      "parameters": {},
      "id": "Webhook_Trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "urls",
              "value": "={{$json.body?.urls || $json.urls || ['https://huggingface.co/papers/2403.12345']}}",
              "type": "array"
            },
            {
              "name": "targetLanguage",
              "value": "={{$json.body.targetLanguage || \"ko\"}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "Prepare_Input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        470,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const urls = $json.urls || [];\nif (!Array.isArray(urls) || urls.length === 0) {\n  throw new Error('urls 배열이 비어 있습니다. body.urls에 URL 배열을 전달하세요.');\n}\nreturn urls.map((u) => ({ json: { url: u, targetLanguage: $json.targetLanguage || 'ko' } }));"
      },
      "id": "Explode_URLs",
      "name": "Explode URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{'https://r.jina.ai/' + $json.url}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "Fetch_Paper_Content",
      "name": "Fetch Paper Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        930,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env.UPSTAGE_API_KEY || 'REPLACE_WITH_YOUR_REAL_KEY')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.upstage_payload}}",
        "options": {
          "response": {
            "responseFormat": "json"
          },
          "timeout": 120000
        }
      },
      "id": "Upstage_Summarize",
      "name": "Upstage Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1170,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Handle success + API/network errors\nif ($json.error) {\n  const src = $item(0).$node['Explode URLs'].json.url;\n  return [{ json: { source_url: src, ok: false, error_type: 'upstage_or_network', status: $json.error?.statusCode || $json.statusCode || null, error_message: $json.error?.message || $json.message || 'Unknown error', retry_after: $json.error?.response?.headers?.['retry-after'] || null } }];\n}\nconst content = $json.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = JSON.parse(content); } catch (e) { parsed = { raw: content }; }\nreturn [{ json: { source_url: $item(0).$node['Explode URLs'].json.url, ok: true, ...parsed } }];"
      },
      "id": "Parse_Result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1410,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\nconst success = all.filter(x => x.ok !== false).length;\nconst failed = all.length - success;\nreturn [{ json: { ok: failed === 0, count: all.length, success, failed, summaries: all } }];"
      },
      "id": "Collect_Summaries",
      "name": "Collect Summaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const lang = $json.targetLanguage || 'ko';\nconst url = $json.url || 'n/a';\nconst content = String($json.body || $json.data || $json.content || '').slice(0,12000);\nconst payload = {\n  model:'solar-pro2',\n  temperature:0.2,\n  response_format:{\n    type:'json_schema',\n    json_schema:{\n      name:'paper_summary',\n      schema:{\n        type:'object',\n        properties:{\n          title:{type:'string'}, one_line:{type:'string'}, problem:{type:'string'}, method:{type:'string'},\n          results:{type:'string'}, limitations:{type:'string'}, tags:{type:'array',items:{type:'string'}}, action_items:{type:'array',items:{type:'string'}}\n        },\n        required:['title','one_line','problem','method','results','limitations','tags','action_items'],\n        additionalProperties:false\n      }\n    }\n  },\n  messages:[\n    {role:'system', content:'너는 논문 리뷰 어시스턴트다. 입력 텍스트를 읽고 '+lang+'로만 답해라. 과장 금지. 수치/조건은 최대한 보존하라.'},\n    {role:'user', content:'다음 논문 페이지/본문을 분석해 구조화 요약 JSON으로 만들어줘.\\n원본 URL: '+url+'\\n\\n본문:\\n'+content}\n  ]\n};\nreturn [{json:{...$json, upstage_payload:payload}}];"
      },
      "id": "Build_Summary_Payload",
      "name": "Build Summary Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        140
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Explode URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode URLs": {
      "main": [
        [
          {
            "node": "Fetch Paper Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Paper Content": {
      "main": [
        [
          {
            "node": "Build Summary Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage Summarize": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Collect Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Summaries": {
      "main": [
        []
      ]
    },
    "Build Summary Payload": {
      "main": [
        [
          {
            "node": "Upstage Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
