workflow.research-orchestrator-pro.json
{
  "name": "Research Orchestrator Pro (Multi-Path)",
  "nodes": [
    {
      "parameters": {},
      "id": "Webhook",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "items",
              "value": "={{$json.body?.items || $json.items || ['https://huggingface.co/papers/2403.12345','우리 팀은 24GB GPU 환경에서만 재현 가능']}}",
              "type": "array"
            },
            {
              "name": "targetLanguage",
              "value": "={{$json.body?.targetLanguage || $json.targetLanguage || 'ko'}}",
              "type": "string"
            },
            {
              "name": "goal",
              "value": "={{$json.body?.goal || $json.goal || 'research-brief'}}",
              "type": "string"
            },
            {
              "name": "feedback",
              "value": "={{$json.body?.feedback || $json.feedback || '리스크/기회 중심으로 분석'}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "SetInput",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        390,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const arr = $json.items || [];\nif (!Array.isArray(arr) || arr.length === 0) throw new Error('body.items 배열이 필요합니다.');\nreturn arr.map((x, idx) => ({ json: { idx, raw: x, targetLanguage: $json.targetLanguage, goal: $json.goal, feedback: $json.feedback } }));"
      },
      "id": "Explode",
      "name": "Explode Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const v = $json.raw;\nconst isUrl = typeof v === 'string' && /^https?:\\/\\//i.test(v);\nreturn [{ json: { ...$json, type: isUrl ? 'url' : 'text', url: isUrl ? v : '', text: isUrl ? '' : String(v) } }];"
      },
      "id": "Classify",
      "name": "Classify Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        810,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.type}}",
              "operation": "equals",
              "value2": "url"
            }
          ]
        }
      },
      "id": "IfURL",
      "name": "If URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{'https://r.jina.ai/' + $json.url}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "FetchFromURL",
      "name": "Fetch From URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        220
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "content",
              "value": "={{$json.text}}",
              "type": "string"
            },
            {
              "name": "url",
              "value": "={{$json.url}}",
              "type": "string"
            },
            {
              "name": "idx",
              "value": "={{$json.idx}}",
              "type": "number"
            },
            {
              "name": "targetLanguage",
              "value": "={{$json.targetLanguage}}",
              "type": "string"
            },
            {
              "name": "goal",
              "value": "={{$json.goal}}",
              "type": "string"
            },
            {
              "name": "feedback",
              "value": "={{$json.feedback}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "PassText",
      "name": "Pass Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "content",
              "value": "={{($json.body || $json.data || $json).toString().slice(0,12000)}}",
              "type": "string"
            },
            {
              "name": "url",
              "value": "={{$item(0).$node['Classify Source'].json.url}}",
              "type": "string"
            },
            {
              "name": "idx",
              "value": "={{$item(0).$node['Classify Source'].json.idx}}",
              "type": "number"
            },
            {
              "name": "targetLanguage",
              "value": "={{$item(0).$node['Classify Source'].json.targetLanguage}}",
              "type": "string"
            },
            {
              "name": "goal",
              "value": "={{$item(0).$node['Classify Source'].json.goal}}",
              "type": "string"
            },
            {
              "name": "feedback",
              "value": "={{$item(0).$node['Classify Source'].json.feedback}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "NormalizeFetched",
      "name": "Normalize Fetched",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1450,
        220
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "MergeContent",
      "name": "Merge Content",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1450,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env.UPSTAGE_API_KEY || 'REPLACE_WITH_YOUR_REAL_KEY')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.upstage_payload}}",
        "options": {
          "response": {
            "responseFormat": "json"
          },
          "timeout": 120000
        }
      },
      "id": "Analyze",
      "name": "Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const base = {\n  idx: $item(0).$node['Merge Content'].json.idx,\n  url: $item(0).$node['Merge Content'].json.url || ''\n};\n\nconst status =\n  $json?.error?.statusCode ??\n  $json?.statusCode ??\n  $json?.code ??\n  $json?.error?.code ??\n  null;\n\nconst errMsg =\n  $json?.error?.message ??\n  $json?.message ??\n  $json?.body?.error?.message ??\n  $json?.error?.response?.body?.error?.message ??\n  null;\n\nif ($json.error || (!$json.choices && !($json.body && $json.body.choices))) {\n  return [{\n    json: {\n      ...base,\n      ok: false,\n      error_type: 'analyze_failed',\n      status,\n      error_message: errMsg || 'Analyze response missing choices',\n      debug_raw: JSON.stringify($json).slice(0, 1200)\n    }\n  }];\n}\n\nconst choices = $json.choices || $json.body?.choices || [];\nconst c = choices?.[0]?.message?.content || '{}';\nlet p = {};\ntry { p = JSON.parse(c); } catch { p = { raw: c }; }\n\nreturn [{ json: { ...base, ok: true, ...p } }];"
      },
      "id": "Parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1870,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i=>i.json).sort((a,b)=>(a.idx??0)-(b.idx??0));\nconst successItems = all.filter(x=>x.ok!==false);\nconst topOps = successItems.flatMap(x=>x.opportunities||[]).slice(0,6);\nconst topRisks = successItems.flatMap(x=>x.risks||[]).slice(0,6);\nconst topExperiments = successItems.flatMap(x=>x.experiment_ideas||[]).slice(0,8);\nreturn [{json:{ok:all.every(x=>x.ok!==false),count:all.length,success:successItems.length,failed:all.length-successItems.length,portfolio:{top_opportunities:topOps,top_risks:topRisks,next_experiments:topExperiments},items:all}}];"
      },
      "id": "Portfolio",
      "name": "Portfolio Synthesizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const lang = $json.targetLanguage || 'ko';\nconst goal = $json.goal || 'research-brief';\nconst feedback = $json.feedback || '없음';\nconst url = $json.url || 'n/a';\nconst content = String($json.content || '').slice(0, 12000);\n\nconst payload = {\n  model: 'solar-pro2',\n  temperature: 0.2,\n  response_format: {\n    type: 'json_schema',\n    json_schema: {\n      name: 'analysis',\n      schema: {\n        type: 'object',\n        properties: {\n          source_type:{type:'string'},\n          topic:{type:'string'},\n          one_line:{type:'string'},\n          summary:{type:'string'},\n          key_points:{type:'array',items:{type:'string'}},\n          risks:{type:'array',items:{type:'string'}},\n          opportunities:{type:'array',items:{type:'string'}},\n          experiment_ideas:{type:'array',items:{type:'string'}},\n          quiz:{type:'array',items:{type:'string'}}\n        },\n        required:['source_type','topic','one_line','summary','key_points','risks','opportunities','experiment_ideas','quiz'],\n        additionalProperties:false\n      }\n    }\n  },\n  messages:[\n    { role:'system', content: '너는 연구 코파일럿이다. ' + lang + '로 답하라.' },\n    { role:'user', content: 'goal=' + goal + '\\nfeedback=' + feedback + '\\nurl=' + url + '\\n텍스트:\\n' + content }\n  ]\n};\n\nreturn [{ json: { ...$json, upstage_payload: payload } }];"
      },
      "id": "Build_Analyze_Payload",
      "name": "Build Analyze Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        220
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "Explode Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Items": {
      "main": [
        [
          {
            "node": "Classify Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Source": {
      "main": [
        [
          {
            "node": "If URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If URL": {
      "main": [
        [
          {
            "node": "Fetch From URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch From URL": {
      "main": [
        [
          {
            "node": "Normalize Fetched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fetched": {
      "main": [
        [
          {
            "node": "Merge Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Text": {
      "main": [
        [
          {
            "node": "Merge Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Content": {
      "main": [
        [
          {
            "node": "Build Analyze Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Portfolio Synthesizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Portfolio Synthesizer": {
      "main": [
        []
      ]
    },
    "Build Analyze Payload": {
      "main": [
        [
          {
            "node": "Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
