workflow.daily-paper-summary.json
{
  "name": "2. Daily Paper Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        480
      ]
    },
    {
      "parameters": {
        "url": "={{'https://r.jina.ai/' + $json.url}}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Extract Paper Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// runOnceForEachItem: $json = Extract Paper Text HTTP response\nconst paper = $item(0).$node['Parse Papers'].json;\nconst paperUrl = paper.url || 'n/a';\nconst text = String($json.body || $json.data || $json.content || '').slice(0, 12000);\n\nif (!text || text.length < 100) {\n  return { json: { ...paper, ok: false, error_type: 'fetch_failed', error_message: 'Content too short or empty' } };\n}\n\nconst payload = {\n  model: 'solar-pro2',\n  temperature: 0.2,\n  response_format: {\n    type: 'json_schema',\n    json_schema: {\n      name: 'paper_summary',\n      schema: {\n        type: 'object',\n        properties: {\n          title: { type: 'string' },\n          one_line: { type: 'string' },\n          problem: { type: 'string' },\n          method: { type: 'string' },\n          results: { type: 'string' },\n          limitations: { type: 'string' },\n          tags: { type: 'array', items: { type: 'string' } },\n          action_items: { type: 'array', items: { type: 'string' } }\n        },\n        required: ['title','one_line','problem','method','results','limitations','tags','action_items'],\n        additionalProperties: false\n      }\n    }\n  },\n  messages: [\n    { role: 'system', content: '너는 논문 리뷰 어시스턴트다. ko로만 답해라. 과장 금지. 수치/조건은 최대한 보존하라.' },\n    { role: 'user', content: '다음 논문을 분석해 구조화 요약 JSON으로 만들어줘.\\nURL: ' + paperUrl + '\\n\\n본문:\\n' + text }\n  ]\n};\n\nreturn { json: { ...paper, upstage_payload: payload } };",
        "mode": "runOnceForEachItem"
      },
      "name": "Build Summary Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env.UPSTAGE_API_KEY || 'REPLACE_WITH_YOUR_REAL_KEY')}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 120000
        },
        "jsonBody": "={{$json.upstage_payload}}",
        "specifyBody": "json"
      },
      "name": "Upstage Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// runOnceForEachItem: $json = Upstage Summarize HTTP response\nconst paper = $item(0).$node['Build Summary Payload'].json || {};\nconst base = {\n  paper_id: paper.paper_id || '',\n  title: paper.title || '',\n  url: paper.url || '',\n  upvotes: paper.upvotes || 0,\n  date: paper.date || ''\n};\n\nif ($json.error || (!$json.choices && !$json.body?.choices)) {\n  return { json: { ...base, ok: false, error_type: 'upstage_error', error_message: $json.error?.message || $json.message || 'Unknown' } };\n}\n\nconst choices = $json.choices || $json.body?.choices || [];\nconst content = choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = JSON.parse(content); } catch { parsed = { raw: content }; }\nreturn { json: { ...base, ok: true, summary: parsed } };",
        "mode": "runOnceForEachItem"
      },
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\nconst date = all[0]?.date || 'unknown';\nconst ok = all.filter(x => x.ok !== false);\nconst failed = all.filter(x => x.ok === false);\n\nlet html = `<div style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;max-width:680px;margin:0 auto;padding:24px;\">`;\nhtml += `<h1 style=\"font-size:22px;color:#1a1a1a;\">📄 Daily Paper Summary — ${date}</h1>`;\nhtml += `<p style=\"color:#6b7280;font-size:14px;\">Upstage Solar가 요약한 인기 논문 ${ok.length}편</p>`;\nhtml += `<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:20px 0;\">`;\n\nfor (const item of ok) {\n  const s = item.summary || {};\n  html += `<div style=\"margin-bottom:28px;\">`;\n  html += `<h2 style=\"font-size:16px;margin:0 0 6px;\"><a href=\"${item.url}\" style=\"color:#6c2bd9;text-decoration:none;\">${s.title || item.title}</a></h2>`;\n  html += `<p style=\"color:#6b7280;font-size:12px;margin:0 0 8px;\">⬆️ ${item.upvotes} · ${(s.tags||[]).join(', ')}</p>`;\n  html += `<p style=\"font-size:14px;color:#374151;margin:0 0 8px;\"><strong>한 줄:</strong> ${s.one_line || '-'}</p>`;\n  html += `<table style=\"font-size:13px;color:#4b5563;border-collapse:collapse;width:100%;\">`;\n  html += `<tr><td style=\"padding:3px 8px 3px 0;font-weight:600;vertical-align:top;\">문제</td><td>${s.problem||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:3px 8px 3px 0;font-weight:600;vertical-align:top;\">방법</td><td>${s.method||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:3px 8px 3px 0;font-weight:600;vertical-align:top;\">결과</td><td>${s.results||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:3px 8px 3px 0;font-weight:600;vertical-align:top;\">한계</td><td>${s.limitations||'-'}</td></tr>`;\n  html += `</table>`;\n  if (s.action_items?.length) html += `<p style=\"font-size:12px;color:#059669;margin:8px 0 0;\">💡 ${s.action_items.join(' · ')}</p>`;\n  html += `</div>`;\n}\n\nif (failed.length) html += `<p style=\"color:#ef4444;font-size:13px;\">⚠️ ${failed.length}편 요약 실패</p>`;\nhtml += `<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:20px 0;\">`;\nhtml += `<p style=\"color:#9ca3af;font-size:12px;\">Powered by <a href=\"https://www.upstage.ai\" style=\"color:#6c2bd9;\">Upstage Solar</a> · <a href=\"https://huggingface.co/papers\" style=\"color:#6c2bd9;\">HF Daily Papers</a></p></div>`;\n\nreturn [{ json: { date, subject: `📄 Daily Paper Summary — ${date} (${ok.length}편)`, html, count: all.length, success: ok.length, failed: failed.length } }];"
      },
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        280
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM || 'your-email@gmail.com'}}",
        "toEmail": "={{$env.DIGEST_TO || 'your-email@gmail.com'}}",
        "subject": "={{$json.subject}}",
        "emailType": "html",
        "html": "={{$json.html}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2760,
        280
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "url": "={{'https://huggingface.co/api/daily_papers?date=' + new Date(Date.now() - 86400000).toISOString().slice(0,10)}}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Fetch HF Papers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n HTTP Request auto-splits JSON arrays into separate items\n// So each item here is a single paper object from HF API\nconst allItems = $input.all().map(i => i.json);\nconst dateStr = new Date(Date.now() - 86400000).toISOString().slice(0,10);\n\n// Filter valid papers (have paper.id)\nlet papers = allItems.filter(item => item.paper?.id);\n\nif (papers.length === 0) {\n  return [{ json: { date: dateStr, paper_id: 'none', title: 'No papers found for ' + dateStr, url: '#', upvotes: 0 } }];\n}\n\n// Sort by upvotes, take top 10\npapers.sort((a,b) => (b.paper?.upvotes||0) - (a.paper?.upvotes||0));\nreturn papers.slice(0, 10).map(p => ({\n  json: {\n    date: dateStr,\n    paper_id: p.paper.id,\n    title: p.paper.title || 'Untitled',\n    url: 'https://huggingface.co/papers/' + p.paper.id,\n    upvotes: p.paper.upvotes || 0\n  }\n}));"
      },
      "name": "Parse Papers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        280
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch HF Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch HF Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HF Papers": {
      "main": [
        [
          {
            "node": "Parse Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Papers": {
      "main": [
        [
          {
            "node": "Extract Paper Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Paper Text": {
      "main": [
        [
          {
            "node": "Build Summary Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Payload": {
      "main": [
        [
          {
            "node": "Upstage Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage Summarize": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
