workflow.research-briefing.json
{
  "name": "3. Research Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        480
      ]
    },
    {
      "parameters": {
        "url": "={{'https://r.jina.ai/' + $json.url}}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Extract Paper Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Safely get paper metadata from earlier in the chain\nconst paperData = $item(0).$node['Parse Papers'].json || {};\nconst url = paperData.url || 'n/a';\nconst content = String($json.body || $json.data || $json.content || '').slice(0, 12000);\n\nif (!content || content.length < 100) {\n  return [{ json: { ...paperData, ok: false, error_type: 'fetch_failed', error_message: 'Content too short' } }];\n}\n\nconst payload = {\n  model: 'solar-pro2',\n  temperature: 0.2,\n  response_format: {\n    type: 'json_schema',\n    json_schema: {\n      name: 'deep_analysis',\n      schema: {\n        type: 'object',\n        properties: {\n          title: { type: 'string' },\n          one_line: { type: 'string' },\n          problem: { type: 'string' },\n          method: { type: 'string' },\n          results: { type: 'string' },\n          limitations: { type: 'string' },\n          novelty: { type: 'string' },\n          impact: { type: 'string' },\n          related_work_gaps: { type: 'string' },\n          tags: { type: 'array', items: { type: 'string' } },\n          action_items: { type: 'array', items: { type: 'string' } },\n          search_queries: { type: 'array', items: { type: 'string' } }\n        },\n        required: ['title','one_line','problem','method','results','limitations','novelty','impact','related_work_gaps','tags','action_items','search_queries'],\n        additionalProperties: false\n      }\n    }\n  },\n  messages: [\n    { role: 'system', content: '너는 시니어 연구자다. ko로 답하라. 과장 금지. 수치/실험 조건 보존. novelty(새로운 점), impact(실무적 영향), related_work_gaps(선행연구 대비 빈 곳)를 반드시 분석하라. search_queries에는 관련 논문을 더 찾기 위한 검색어 3개를 영어로 제안하라.' },\n    { role: 'user', content: '다음 논문을 깊이 분석하라.\\nURL: ' + url + '\\n\\n본문:\\n' + content }\n  ]\n};\n\nreturn [{ json: { ...paperData, upstage_payload: payload } }];"
      },
      "name": "Build Analysis Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env.UPSTAGE_API_KEY || 'REPLACE_WITH_YOUR_REAL_KEY')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{$json.upstage_payload}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 120000
        }
      },
      "name": "Upstage Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get original paper data from Build Analysis Payload (before HTTP)\nconst paperData = $item(0).$node['Build Analysis Payload'].json || {};\nconst base = {\n  paper_id: paperData.paper_id || '',\n  title: paperData.title || '',\n  url: paperData.url || '',\n  upvotes: paperData.upvotes || 0,\n  date: paperData.date || ''\n};\n\nif ($json.error || (!$json.choices && !$json.body?.choices)) {\n  return [{ json: { ...base, ok: false, error_type: 'upstage_error', error_message: $json.error?.message || $json.message || 'Unknown' } }];\n}\n\nconst choices = $json.choices || $json.body?.choices || [];\nconst content = choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = JSON.parse(content); } catch { parsed = { raw: content }; }\nreturn [{ json: { ...base, ok: true, analysis: parsed } }];"
      },
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all paper analyses and build synthesis prompt\nconst all = $input.all().map(i => i.json);\nconst ok = all.filter(x => x.ok !== false);\nconst failed = all.filter(x => x.ok === false);\nconst date = all[0]?.date || 'unknown';\n\n// Collect search queries and tags\nconst allQueries = ok.flatMap(x => x.analysis?.search_queries || []);\nconst uniqueQueries = [...new Set(allQueries)].slice(0, 8);\nconst allTags = ok.flatMap(x => x.analysis?.tags || []);\nconst tagCount = {};\nallTags.forEach(t => { tagCount[t] = (tagCount[t]||0) + 1; });\nconst topTags = Object.entries(tagCount).sort((a,b)=>b[1]-a[1]).slice(0,8).map(x=>x[0]);\n\n// Build synthesis prompt\nconst papersText = ok.map((x,i) => {\n  const a = x.analysis || {};\n  return `${i+1}. ${a.title || x.title}\\n한줄: ${a.one_line || '-'}\\nnovelty: ${a.novelty || '-'}\\nimpact: ${a.impact || '-'}\\ngaps: ${a.related_work_gaps || '-'}`;\n}).join('\\n\\n');\n\nconst synthPayload = {\n  model: 'solar-pro2',\n  temperature: 0.3,\n  response_format: {\n    type: 'json_schema',\n    json_schema: {\n      name: 'trend_synthesis',\n      schema: {\n        type: 'object',\n        properties: {\n          trend_summary: { type: 'string' },\n          key_themes: { type: 'array', items: { type: 'string' } },\n          opportunities: { type: 'array', items: { type: 'string' } },\n          risks: { type: 'array', items: { type: 'string' } },\n          recommended_reading: { type: 'array', items: { type: 'string' } }\n        },\n        required: ['trend_summary','key_themes','opportunities','risks','recommended_reading'],\n        additionalProperties: false\n      }\n    }\n  },\n  messages: [\n    { role: 'system', content: '너는 연구 트렌드 분석가다. 오늘의 인기 논문들을 종합해 큰 그림을 그려라. ko로 답하라.' },\n    { role: 'user', content: `오늘 HF Daily Papers Top ${ok.length} 분석 결과:\\n${papersText}\\n\\n위 논문들의 공통 트렌드, 기회, 리스크를 종합 분석하고, 추가로 읽어볼 만한 방향을 추천해라.` }\n  ]\n};\n\n// IMPORTANT: Pack ALL data needed for email into this output\n// because after the HTTP node, only $json from HTTP response will be available\n// We use _meta to carry forward papers data\nreturn [{ json: {\n  synth_payload: synthPayload,\n  _meta: JSON.stringify({ date, papers: ok, failed_count: failed.length, top_tags: topTags, search_queries: uniqueQueries })\n} }];"
      },
      "name": "Collect & Build Synthesis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env.UPSTAGE_API_KEY || 'REPLACE_WITH_YOUR_REAL_KEY')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{$json.synth_payload}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 120000
        }
      },
      "name": "Upstage Synthesize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2760,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Recover papers data from Collect node (stored as _meta string)\nconst collectOutput = $item(0).$node['Collect & Build Synthesis'].json || {};\nlet meta;\ntry {\n  meta = JSON.parse(collectOutput._meta || '{}');\n} catch {\n  meta = { date: 'unknown', papers: [], failed_count: 0, top_tags: [], search_queries: [] };\n}\n\nconst { date, papers, failed_count, top_tags: topTags, search_queries: searchQueries } = meta;\n\n// Parse synthesis response\nlet synth = {};\ntry {\n  const raw = $json.choices?.[0]?.message?.content || $json.body?.choices?.[0]?.message?.content || '{}';\n  synth = JSON.parse(raw);\n} catch { synth = { trend_summary: '트렌드 종합 파싱 실패' }; }\n\n// Build HTML email\nlet html = `<div style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;max-width:700px;margin:0 auto;padding:24px;\">`;\nhtml += `<h1 style=\"font-size:22px;color:#1a1a1a;\">🧠 Research Briefing — ${date}</h1>`;\nhtml += `<p style=\"color:#6b7280;font-size:14px;\">Top ${papers.length} 논문 심층 분석 + 트렌드 종합</p>`;\n\n// Trend synthesis box\nhtml += `<div style=\"background:#f3eeff;border-radius:12px;padding:18px;margin:20px 0;\">`;\nhtml += `<h2 style=\"font-size:16px;color:#6c2bd9;margin:0 0 10px;\">📊 오늘의 트렌드</h2>`;\nhtml += `<p style=\"font-size:14px;color:#374151;margin:0 0 12px;\">${synth.trend_summary || '-'}</p>`;\nif (synth.key_themes?.length) html += `<p style=\"font-size:13px;color:#4b5563;\"><strong>핵심 테마:</strong> ${synth.key_themes.join(' · ')}</p>`;\nif (synth.opportunities?.length) html += `<p style=\"font-size:13px;color:#059669;margin-top:6px;\"><strong>🟢 기회:</strong> ${synth.opportunities.join(' · ')}</p>`;\nif (synth.risks?.length) html += `<p style=\"font-size:13px;color:#ef4444;margin-top:6px;\"><strong>🔴 리스크:</strong> ${synth.risks.join(' · ')}</p>`;\nif (synth.recommended_reading?.length) html += `<p style=\"font-size:13px;color:#6b7280;margin-top:6px;\"><strong>📚 추가 읽기:</strong> ${synth.recommended_reading.join(' · ')}</p>`;\nhtml += `</div>`;\n\n// Individual papers\nhtml += `<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:20px 0;\">`;\nfor (const item of papers) {\n  const a = item.analysis || {};\n  html += `<div style=\"margin-bottom:24px;\">`;\n  html += `<h3 style=\"font-size:15px;margin:0 0 6px;\"><a href=\"${item.url || '#'}\" style=\"color:#6c2bd9;text-decoration:none;\">${a.title || item.title || 'Untitled'}</a></h3>`;\n  html += `<p style=\"color:#6b7280;font-size:12px;margin:0 0 6px;\">⬆️ ${item.upvotes || 0} · ${(a.tags||[]).join(', ')}</p>`;\n  html += `<p style=\"font-size:13px;color:#374151;\"><strong>한 줄:</strong> ${a.one_line || '-'}</p>`;\n  html += `<table style=\"font-size:12px;color:#4b5563;border-collapse:collapse;width:100%;margin-top:6px;\">`;\n  html += `<tr><td style=\"padding:2px 6px 2px 0;font-weight:600;vertical-align:top;\">문제</td><td>${a.problem||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:2px 6px 2px 0;font-weight:600;vertical-align:top;\">방법</td><td>${a.method||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:2px 6px 2px 0;font-weight:600;vertical-align:top;\">결과</td><td>${a.results||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:2px 6px 2px 0;font-weight:600;vertical-align:top;\">새로운 점</td><td>${a.novelty||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:2px 6px 2px 0;font-weight:600;vertical-align:top;\">영향</td><td>${a.impact||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:2px 6px 2px 0;font-weight:600;vertical-align:top;\">빈 곳</td><td>${a.related_work_gaps||'-'}</td></tr>`;\n  html += `</table>`;\n  if (a.action_items?.length) html += `<p style=\"font-size:11px;color:#059669;margin-top:4px;\">💡 ${a.action_items.join(' · ')}</p>`;\n  html += `</div>`;\n}\n\n// Search queries\nif (searchQueries?.length) {\n  html += `<div style=\"background:#f9fafb;border-radius:10px;padding:14px;margin:16px 0;\">`;\n  html += `<p style=\"font-size:13px;color:#374151;margin:0;\"><strong>🔍 관련 논문 탐색:</strong></p>`;\n  html += `<p style=\"font-size:12px;color:#6b7280;margin:4px 0 0;\">${searchQueries.map(q => `<a href=\"https://scholar.google.com/scholar?q=${encodeURIComponent(q)}\" style=\"color:#6c2bd9;\">${q}</a>`).join(' · ')}</p>`;\n  html += `</div>`;\n}\n\nif (failed_count > 0) html += `<p style=\"color:#ef4444;font-size:12px;\">⚠️ ${failed_count}편 분석 실패</p>`;\nhtml += `<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:20px 0;\">`;\nhtml += `<p style=\"color:#9ca3af;font-size:12px;\">Powered by <a href=\"https://www.upstage.ai\" style=\"color:#6c2bd9;\">Upstage Solar</a> · <a href=\"https://huggingface.co/papers\" style=\"color:#6c2bd9;\">HF Daily Papers</a></p></div>`;\n\nreturn [{ json: {\n  date,\n  subject: `🧠 Research Briefing — ${date} (${papers.length}편 분석)`,\n  html,\n  paper_count: papers.length,\n  top_tags: topTags\n} }];"
      },
      "name": "Build Briefing Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        280
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM || 'your-email@gmail.com'}}",
        "toEmail": "={{$env.DIGEST_TO || 'your-email@gmail.com'}}",
        "subject": "={{$json.subject}}",
        "emailType": "html",
        "html": "={{$json.html}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3240,
        280
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "url": "={{'https://huggingface.co/api/daily_papers?date=' + new Date(Date.now() - 86400000).toISOString().slice(0,10)}}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Fetch HF Papers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const dateStr = new Date(Date.now() - 86400000).toISOString().slice(0,10);\nlet papers = [];\n\n// Handle all possible n8n HTTP response formats\nconst raw = $input.first().json;\ntry {\n  if (Array.isArray(raw)) papers = raw;\n  else if (Array.isArray(raw?.body)) papers = raw.body;\n  else if (typeof raw === 'string') papers = JSON.parse(raw);\n  else if (typeof raw?.body === 'string' && raw.body.trim().startsWith('[')) papers = JSON.parse(raw.body);\n  else {\n    // n8n may auto-parse the JSON array into numbered keys\n    const keys = Object.keys(raw).filter(k => !isNaN(k));\n    if (keys.length > 0) {\n      papers = keys.map(k => raw[k]);\n    }\n  }\n} catch (e) {}\n\nif (!papers.length) {\n  return [{ json: { date: dateStr, paper_id: 'none', title: 'No papers found for ' + dateStr, url: '#', upvotes: 0 } }];\n}\n\npapers.sort((a,b) => (b.paper?.upvotes||0) - (a.paper?.upvotes||0));\nreturn papers.slice(0, 5).map(p => ({\n  json: {\n    date: dateStr,\n    paper_id: p.paper?.id || '',\n    title: p.paper?.title || 'Untitled',\n    url: 'https://huggingface.co/papers/' + (p.paper?.id || ''),\n    upvotes: p.paper?.upvotes || 0\n  }\n}));"
      },
      "name": "Parse Papers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        280
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch HF Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch HF Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HF Papers": {
      "main": [
        [
          {
            "node": "Parse Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Papers": {
      "main": [
        [
          {
            "node": "Extract Paper Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Paper Text": {
      "main": [
        [
          {
            "node": "Build Analysis Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analysis Payload": {
      "main": [
        [
          {
            "node": "Upstage Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage Analyze": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Collect & Build Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect & Build Synthesis": {
      "main": [
        [
          {
            "node": "Upstage Synthesize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage Synthesize": {
      "main": [
        [
          {
            "node": "Build Briefing Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Briefing Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
