docs/templates/workflow.daily-paper-digest.json
{
  "name": "1. Daily Paper Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\nconst date = all[0]?.date || 'unknown';\n\nlet html = `<div style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;max-width:640px;margin:0 auto;padding:24px;\">`;\nhtml += `<h1 style=\"font-size:22px;color:#1a1a1a;margin-bottom:4px;\">📄 HF Daily Papers — ${date}</h1>`;\nhtml += `<p style=\"color:#6b7280;font-size:14px;margin-bottom:20px;\">오늘의 인기 논문 Top ${all.length}편</p>`;\n\nfor (let i = 0; i < all.length; i++) {\n  const p = all[i];\n  if (!p.paper_id) continue;\n  html += `<div style=\"margin-bottom:16px;padding:14px 16px;border:1px solid #e5e7eb;border-radius:10px;\">`;\n  html += `<div style=\"font-size:15px;font-weight:600;\"><a href=\"${p.url}\" style=\"color:#6c2bd9;text-decoration:none;\">${i+1}. ${p.title}</a></div>`;\n  html += `<div style=\"font-size:12px;color:#6b7280;margin-top:4px;\">⬆️ ${p.upvotes} upvotes${p.authors ? ' · ' + p.authors : ''}</div>`;\n  html += `</div>`;\n}\n\nhtml += `<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:20px 0;\">`;\nhtml += `<p style=\"color:#9ca3af;font-size:12px;\">Powered by <a href=\"https://www.upstage.ai\" style=\"color:#6c2bd9;\">Upstage</a> · <a href=\"https://huggingface.co/papers\" style=\"color:#6c2bd9;\">HuggingFace Daily Papers</a></p>`;\nhtml += `</div>`;\n\nreturn [{ json: {\n  date,\n  subject: `📄 HF Daily Papers — ${date} (${all.length}편)`,\n  html,\n  count: all.length\n} }];"
      },
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        280
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM || 'your-email@gmail.com'}}",
        "toEmail": "={{$env.DIGEST_TO || 'your-email@gmail.com'}}",
        "subject": "={{$json.subject}}",
        "emailType": "html",
        "html": "={{$json.html}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2160,
        280
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "url": "={{'https://huggingface.co/api/daily_papers?date=' + new Date(Date.now() - 86400000).toISOString().slice(0,10)}}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Fetch HF Papers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const dateStr = new Date(Date.now() - 86400000).toISOString().slice(0,10);\nlet papers = [];\n\n// Handle all possible n8n HTTP response formats\nconst raw = $input.first().json;\ntry {\n  if (Array.isArray(raw)) papers = raw;\n  else if (Array.isArray(raw?.body)) papers = raw.body;\n  else if (typeof raw === 'string') papers = JSON.parse(raw);\n  else if (typeof raw?.body === 'string' && raw.body.trim().startsWith('[')) papers = JSON.parse(raw.body);\n  else {\n    // n8n may auto-parse the JSON array into numbered keys\n    const keys = Object.keys(raw).filter(k => !isNaN(k));\n    if (keys.length > 0) {\n      papers = keys.map(k => raw[k]);\n    }\n  }\n} catch (e) {}\n\nif (!papers.length) {\n  return [{ json: { date: dateStr, paper_id: 'none', title: 'No papers found for ' + dateStr, url: '#', upvotes: 0 } }];\n}\n\npapers.sort((a,b) => (b.paper?.upvotes||0) - (a.paper?.upvotes||0));\nreturn papers.slice(0, 10).map(p => ({\n  json: {\n    date: dateStr,\n    paper_id: p.paper?.id || '',\n    title: p.paper?.title || 'Untitled',\n    url: 'https://huggingface.co/papers/' + (p.paper?.id || ''),\n    upvotes: p.paper?.upvotes || 0,\n    authors: (p.paper?.authors || []).map(a => a.name || a.user || '').filter(Boolean).slice(0,3).join(', ')\n  }\n}));"
      },
      "name": "Parse Papers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        280
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch HF Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch HF Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HF Papers": {
      "main": [
        [
          {
            "node": "Parse Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Papers": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
