docs/templates/workflow.daily-paper-summary.json
{
  "name": "2. Daily Paper Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst fmt = d => `${d.getFullYear()}-${String(d.getMonth()+1).padStart(2,'0')}-${String(d.getDate()).padStart(2,'0')}`;\nconst todayStr = fmt(today);\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\nconst yesterdayStr = fmt(yesterday);\nreturn [{ json: { todayDate: todayStr, yesterdayDate: yesterdayStr } }];"
      },
      "name": "Prepare Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{'https://huggingface.co/api/daily_papers?date=' + $json.todayDate}}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Fetch Papers Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let papers = [];\ntry {\n  const body = $json.body || $json;\n  if (Array.isArray(body)) papers = body;\n  else if (typeof body === 'string') papers = JSON.parse(body);\n} catch (e) { /* */ }\n\nconst dateInput = $item(0).$node['Prepare Date'].json;\n\nif (papers.length === 0) {\n  return [{ json: { needFallback: true, yesterdayDate: dateInput.yesterdayDate, date: dateInput.todayDate } }];\n}\n\npapers.sort((a,b) => (b.paper?.upvotes||0) - (a.paper?.upvotes||0));\nconst top = papers.slice(0, 10);\nreturn top.map(p => ({\n  json: {\n    needFallback: false,\n    date: dateInput.todayDate,\n    paper_id: p.paper?.id || '',\n    title: p.paper?.title || 'Untitled',\n    url: `https://huggingface.co/papers/${p.paper?.id}`,\n    upvotes: p.paper?.upvotes || 0\n  }\n}));"
      },
      "name": "Parse Papers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needFallback}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Need Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1020,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{'https://huggingface.co/api/daily_papers?date=' + $json.yesterdayDate}}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Fetch Papers Yesterday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        140
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let papers = [];\ntry {\n  const body = $json.body || $json;\n  if (Array.isArray(body)) papers = body;\n  else if (typeof body === 'string') papers = JSON.parse(body);\n} catch (e) { /* */ }\n\nconst dateInput = $item(0).$node['Prepare Date'].json;\nconst dateStr = dateInput.yesterdayDate;\n\nif (papers.length === 0) {\n  return [{ json: { date: dateStr, paper_id: '', title: 'No papers found', url: '#', upvotes: 0 } }];\n}\n\npapers.sort((a,b) => (b.paper?.upvotes||0) - (a.paper?.upvotes||0));\nconst top = papers.slice(0, 10);\nreturn top.map(p => ({\n  json: {\n    date: dateStr,\n    paper_id: p.paper?.id || '',\n    title: p.paper?.title || 'Untitled',\n    url: `https://huggingface.co/papers/${p.paper?.id}`,\n    upvotes: p.paper?.upvotes || 0\n  }\n}));"
      },
      "name": "Parse Yesterday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        140
      ]
    },
    {
      "parameters": {
        "url": "={{'https://r.jina.ai/' + $json.url}}",
        "options": {
          "timeout": 20000
        }
      },
      "name": "Extract Paper Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const url = $item(0).$node['Parse Papers'].json.url || 'n/a';\nconst content = String($json.body || $json.data || $json.content || '').slice(0, 12000);\n\nif (!content || content.length < 100) {\n  return [{ json: { ...$item(0).$node['Parse Papers'].json, ok: false, error_type: 'fetch_failed', error_message: 'Content too short' } }];\n}\n\nconst payload = {\n  model: 'solar-pro2',\n  temperature: 0.2,\n  response_format: {\n    type: 'json_schema',\n    json_schema: {\n      name: 'paper_summary',\n      schema: {\n        type: 'object',\n        properties: {\n          title: { type: 'string' },\n          one_line: { type: 'string' },\n          problem: { type: 'string' },\n          method: { type: 'string' },\n          results: { type: 'string' },\n          limitations: { type: 'string' },\n          tags: { type: 'array', items: { type: 'string' } },\n          action_items: { type: 'array', items: { type: 'string' } }\n        },\n        required: ['title','one_line','problem','method','results','limitations','tags','action_items'],\n        additionalProperties: false\n      }\n    }\n  },\n  messages: [\n    { role: 'system', content: '너는 논문 리뷰 어시스턴트다. ko로만 답해라. 과장 금지. 수치/조건은 최대한 보존하라.' },\n    { role: 'user', content: '다음 논문을 분석해 구조화 요약 JSON으로 만들어줘.\\nURL: ' + url + '\\n\\n본문:\\n' + content }\n  ]\n};\n\nreturn [{ json: { ...$item(0).$node['Parse Papers'].json, upstage_payload: payload } }];"
      },
      "name": "Build Summary Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env.UPSTAGE_API_KEY || 'REPLACE_WITH_YOUR_REAL_KEY')}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{$json.upstage_payload}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 60000
        }
      },
      "name": "Upstage Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const base = {\n  paper_id: $item(0).$node['Build Summary Payload'].json.paper_id,\n  title: $item(0).$node['Build Summary Payload'].json.title,\n  url: $item(0).$node['Build Summary Payload'].json.url,\n  upvotes: $item(0).$node['Build Summary Payload'].json.upvotes,\n  date: $item(0).$node['Build Summary Payload'].json.date\n};\n\nif ($json.error) {\n  return [{ json: { ...base, ok: false, error_type: 'upstage_error', error_message: $json.error?.message || 'Unknown' } }];\n}\n\nconst content = $json.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = JSON.parse(content); } catch { parsed = { raw: content }; }\nreturn [{ json: { ...base, ok: true, summary: parsed } }];"
      },
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\nconst date = all[0]?.date || 'unknown';\nconst ok = all.filter(x => x.ok !== false);\nconst failed = all.filter(x => x.ok === false);\n\nlet html = `<div style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;max-width:680px;margin:0 auto;padding:24px;\">`;\nhtml += `<h1 style=\"font-size:22px;color:#1a1a1a;\">📄 Daily Paper Summary — ${date}</h1>`;\nhtml += `<p style=\"color:#6b7280;font-size:14px;\">Upstage Solar가 요약한 인기 논문 ${ok.length}편</p>`;\nhtml += `<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:20px 0;\">`;\n\nfor (const item of ok) {\n  const s = item.summary || {};\n  html += `<div style=\"margin-bottom:28px;\">`;\n  html += `<h2 style=\"font-size:16px;margin:0 0 6px;\"><a href=\"${item.url}\" style=\"color:#6c2bd9;text-decoration:none;\">${s.title || item.title}</a></h2>`;\n  html += `<p style=\"color:#6b7280;font-size:12px;margin:0 0 8px;\">⬆️ ${item.upvotes} · ${(s.tags||[]).join(', ')}</p>`;\n  html += `<p style=\"font-size:14px;color:#374151;margin:0 0 8px;\"><strong>한 줄:</strong> ${s.one_line || '-'}</p>`;\n  html += `<table style=\"font-size:13px;color:#4b5563;border-collapse:collapse;width:100%;\">`;\n  html += `<tr><td style=\"padding:3px 8px 3px 0;font-weight:600;vertical-align:top;\">문제</td><td>${s.problem||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:3px 8px 3px 0;font-weight:600;vertical-align:top;\">방법</td><td>${s.method||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:3px 8px 3px 0;font-weight:600;vertical-align:top;\">결과</td><td>${s.results||'-'}</td></tr>`;\n  html += `<tr><td style=\"padding:3px 8px 3px 0;font-weight:600;vertical-align:top;\">한계</td><td>${s.limitations||'-'}</td></tr>`;\n  html += `</table>`;\n  if (s.action_items?.length) html += `<p style=\"font-size:12px;color:#059669;margin:8px 0 0;\">💡 ${s.action_items.join(' · ')}</p>`;\n  html += `</div>`;\n}\n\nif (failed.length) html += `<p style=\"color:#ef4444;font-size:13px;\">⚠️ ${failed.length}편 요약 실패</p>`;\nhtml += `<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:20px 0;\">`;\nhtml += `<p style=\"color:#9ca3af;font-size:12px;\">Powered by <a href=\"https://www.upstage.ai\" style=\"color:#6c2bd9;\">Upstage Solar</a> · <a href=\"https://huggingface.co/papers\" style=\"color:#6c2bd9;\">HF Daily Papers</a></p></div>`;\n\nreturn [{ json: { date, subject: `📄 Daily Paper Summary — ${date} (${ok.length}편)`, html, count: all.length, success: ok.length, failed: failed.length } }];"
      },
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        280
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM || 'your-email@gmail.com'}}",
        "toEmail": "={{$env.DIGEST_TO || 'your-email@gmail.com'}}",
        "subject": "={{$json.subject}}",
        "emailType": "html",
        "html": "={{$json.html}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2760,
        280
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Prepare Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Date": {
      "main": [
        [
          {
            "node": "Fetch Papers Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Papers Today": {
      "main": [
        [
          {
            "node": "Parse Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Papers": {
      "main": [
        [
          {
            "node": "Need Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Fallback?": {
      "main": [
        [
          {
            "node": "Fetch Papers Yesterday",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Paper Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Papers Yesterday": {
      "main": [
        [
          {
            "node": "Parse Yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Yesterday": {
      "main": [
        [
          {
            "node": "Extract Paper Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Paper Text": {
      "main": [
        [
          {
            "node": "Build Summary Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Payload": {
      "main": [
        [
          {
            "node": "Upstage Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage Summarize": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
